<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.baokan.baokanandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".app.BaoKanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.NewsDetailActivity">
        </activity>
        <activity android:name=".ui.activity.PhotoDetailActivity">
        </activity>
        <activity android:name=".ui.activity.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.ForgotActivity">
        </activity>
        <activity android:name=".ui.activity.AgreementActivity">
        </activity>
        <activity android:name=".ui.activity.PhotoBrowserActivity">
        </activity>
        <activity android:name=".ui.activity.CommentListActivity">
        </activity>
        <activity android:name=".ui.activity.ColumnActivity">
        </activity>
        <activity android:name=".ui.activity.AboutUsActivity">
        </activity>
        <activity android:name=".ui.activity.FeedbackActivity">
        </activity>
        <activity android:name=".ui.activity.UserInfoActivity">
        </activity>
        <activity android:name=".ui.activity.ModifyInfoActivity">
        </activity>
        <activity android:name=".ui.activity.ModifySafeInfoActivity">
        </activity>
        <activity android:name=".ui.activity.CollectionRecordActivity">
        </activity>
        <activity android:name=".ui.activity.CommentRecordActivity">
        </activity>
    </application>

</manifest>