<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.baokan.baokanandroid">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE"/>

    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--ShareSDK-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".app.BaoKanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--首页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--资讯详情-->
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--图秀详情-->
        <activity
            android:name=".ui.activity.PhotoDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--登录-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--注册-->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--忘记密码-->
        <activity
            android:name=".ui.activity.ForgotActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--协议-->
        <activity
            android:name=".ui.activity.AgreementActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--资讯详情浏览器-->
        <activity
            android:name=".ui.activity.PhotoBrowserActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--评论列表-->
        <activity
            android:name=".ui.activity.CommentListActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--栏目管理-->
        <activity
            android:name=".ui.activity.ColumnActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--关于我们-->
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--意见反馈-->
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--用户信息-->
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--修改资料-->
        <activity
            android:name=".ui.activity.ModifyInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--修改密码-->
        <activity
            android:name=".ui.activity.ModifySafeInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--收藏记录-->
        <activity
            android:name=".ui.activity.CollectionRecordActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--评论记录-->
        <activity
            android:name=".ui.activity.CommentRecordActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--ShareSDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--腾讯-->
            <intent-filter>
                <data android:scheme="tencent1105934872"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>